{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2020",
    "transform": {
      "decoratorMetadata": false,
      "legacyDecorator": false
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}